body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
  width: 20%;
  margin: 0 auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.pro {
  text-decoration: underline;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

/*########## CLOUDS #########*/
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* ######### SQUARES ########*/

.middle-container {
  background-color: #30e3ca;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #11999e;
  height: 200px;
  width: 200px;
}
