body {
  font-family: "Merriweather", serif;
  font-size: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  line-height: 2;
  margin: 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;

  font-family: "Montserrat", sans-serif;
}

/*######## SKILLS ROWS #######*/

.skills {
  width: 50%;
}

.skill-row {
  width: 50%;
}

a {
  color: #66bfbf;
}

.pro {
  text-decoration: underline;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

/*########## CLOUDS #########*/
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
