body {
  margin: 0;
  text-align: center;
}

h1 {
  position: relative;
  top: 100px;
  margin: 0;
}

p {
  position: relative;
  top: 100px;
}

.top-container {
  background-color: #e4f9f5;
}

.mountain {
  margin-top: 100px;
}

.middle-container {
  background-color: #30e3ca;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #11999e;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 80px;
}

.bottom-cloud {
  position: absolute;
  margin-top: 100px;
}
