body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #F9CEEE;
  border: solid 10px;
  height: 200px;
  padding: 20px;
  width: 200px;
}

.middle-container {
  background-color: #F9F3EE;
  border: solid 20px;
  height: 200px;
  margin-left: 260px;
  width: 200px;
}

.bottom-container {
  background-color: #CCF3EE;
  border: solid 10px;
  height: 200px;
  margin-left: 500px;
  width: 200px;
}
